 ---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";

---
<Layout pageTitle="Contact Us">
  <Header />
  <section id="contact" class="page-section">
    <div class="bg-white rounded-lg shadow-xl p-8 md:p-12">
      <h1 class="text-4xl font-extrabold text-rivet-navy mb-6">Get in Touch</h1>
      <p class="text-lg text-steel-blue mb-8">Have questions or want to learn more about our services? We're here to help! Fill out the form below, and we'll get back to you as soon as possible.</p>
      <div class="ml-embedded" data-form="zxo6Nr"></div>
    </div>
  </section>
  <Footer /> 
</Layout> 