---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="News and Updates">
    <p>Check back here for the latest news and updates from Rivet Risk Services!</p>
    
</BaseLayout>
