---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import Legal from "../components/legal.astro"
---
<Layout pageTitle="Rivet Risk Services - Privacy Policy">
<Header />
<Legal>
<h2>Privacy Policy</h2>
<p>Rivet Risk Services values and respects the privacy of the people we deal with. Rivet Risk Services is committed to protecting your privacy and complying with the Privacy Act 1988 (Cth) (<strong>Privacy Act</strong>) and other applicable privacy laws and regulations.</p>
<p>This Privacy Policy (<strong>Policy</strong>) describes how we collect, hold, use and disclose your personal information, and how we maintain the quality and security of your personal information.</p>

<h3>What is personal information?</h3>
<p>“Personal information” means any information or opinion, whether true or not, and whether recorded in a material form or not, about an identified individual or an individual who is reasonably identifiable. In general terms, this includes information or an opinion that personally identifies you either directly (e.g. your name) or indirectly.</p>

<h3>What personal information do we collect?</h3>
<p>The personal information we collect about you depends on the nature of your dealings with us or what you choose to share with us.</p>
<p>The personal information we collect about you may include:</p>
<ul>
  <li>name;</li>
  <li>email address;</li>
  <li>phone number</li>
</ul>
<p>Under certain circumstances, Rivet Risk Services may need to collect sensitive information about you. This might include any information or opinion about your racial or ethnic origin, political opinions, political association, religious or philosophical beliefs, membership of a trade union or other professional body, sexual preferences, criminal record, or health information.</p>
<p>If we collect your sensitive information, we will do so only with your consent, if it is necessary to prevent a serious and imminent threat to life or health, or as otherwise required or authorised by law, and we take appropriate measures to protect the security of this information.</p>
<p>You do not have to provide us with your personal information. Where possible, we will give you the option to interact with us anonymously or by using a pseudonym. However, if you choose to deal with us in this way or choose not to provide us with your personal information, we may not be able to provide you with our services or otherwise interact with you.</p>

<h3>How do we collect your personal information?</h3>
<p>We collect your personal information directly from you when you:</p>
<ul>
  <li>interact with us over the phone;</li>
  <li>interact with us in person;</li>
  <li>interact with us online;</li>
  <li>participate in surveys or questionnaires;</li>
  <li>attend a Rivet Risk Services event;</li>
  <li>subscribe to our mailing list;</li>
  <li>apply for a position with us as an employee, contractor or volunteer;</li>
</ul>

<h3>How do we use your personal information?</h3>
<p>We use personal information for many purposes in connection with our functions and activities, including the following purposes:</p>
<ul>
  <li>provide you with information or services that you request from us;</li>
  <li>deliver to you a more personalised experience and service offering;</li>
  <li>improve the quality of the services we offer;</li>
  <li>internal administrative purposes;</li>
  <li>marketing and research purposes;</li>
</ul>

<h3>Disclosure of personal information to third parties</h3>
<p>We may disclose your personal information to third parties in accordance with this Policy in circumstances where you would reasonably expect us to disclose your information. For example, we may disclose your personal information to:</p>
<ul>
  <li>our third party service providers (for example, our IT providers);</li>
</ul>

<h3>Transfer of personal information overseas</h3>
<p>Some of the third-party service providers we disclose personal information to may be based in or have servers located outside of Australia, including in the United States of America and Canada.</p>
<p>Where we disclose your personal information to third parties overseas, we will take reasonable steps to ensure that data security and appropriate privacy practices are maintained. We will only disclose to overseas third parties if:</p>
<ul>
  <li>you have given us your consent to disclose personal information to that third party; or</li>
  <li>we reasonably believe that:
    <ul>
      <li>the overseas recipient is subject to a law or binding scheme that is, overall, substantially similar to the APPs; and</li>
      <li>the law or binding scheme can be enforced; or</li>
    </ul>
  </li>
  <li>the disclosure is required or authorised by an Australian law or court / tribunal order.</li>
</ul>

<h3>How do we protect your personal information?</h3>
<p>Rivet Risk Services will take reasonable steps to ensure that the personal information that we hold about you is kept confidential and secure, including by:</p>
<ul>
  <li>having a robust physical security of our premises and databases / records;</li>
  <li>taking measures to restrict access to only personnel who need that personal information to effectively provide services to you;</li>
  <li>having technological measures in place (for example, anti-virus software, fire walls);</li>
</ul>

<h3>Online activity</h3>
<h3>Cookies</h3>
<p>The Rivet Risk Services website uses cookies. A cookie is a small file of letters and numbers the website puts on your device if you allow it. These cookies recognise when your device has visited our website(s) before, so we can distinguish you from other users of the website. This improves your experience and the Rivet Risk Services website(s).</p>
<p>We do not use cookies to identify you, just to improve your experience on our website(s). If you do not wish to use the cookies, you can amend the settings on your internet browser so it will not automatically download cookies. However, if you remove or block cookies on your computer, please be aware that your browsing experience and our website’s functionality may be affected.</p>
<h3>Website analytics</h3>
<p>Our website uses Google Analytics to help us better understand visitor traffic, so we can improve our services. Although this data is mostly anonymous, it is possible that under certain circumstances, we may connect it to you.</p>
<h3>Direct marketing</h3>
<p>We may send you direct marketing communications and information about our services, opportunities, or events that we consider may be of interest to you if you have requested or consented to receive such communications. These communications may be sent in various forms, including mail, SMS, fax and email, in accordance with applicable marketing laws, such as the <em>Australian Spam Act 2003</em> (Cth). You consent to us sending you those direct marketing communications by any of those methods. If you indicate a preference for a method of communication, we will endeavour to use that method whenever practical to do so.</p>
<p>You may opt-out of receiving marketing communications from us at any time by following the instructions to “unsubscribe'' set out in the relevant communication.</p>

<h3>Retention of personal information</h3>
<p>We will not keep your personal information for longer than we need to. In most cases, this means that we will only retain your personal information for the duration of your relationship with us unless we are required to retain your personal information to comply with applicable laws, for example record-keeping obligations.</p>

<h3>How to access and correct your personal information</h3>
<p>Rivet Risk Services will endeavour to keep your personal information accurate, complete and up to date.</p>
<p>If you wish to make a request to access and / or correct the personal information we hold about you, you should make a request by contacting us and we will usually respond within 5 (five) working days. We will deal with such a request by following the procedure outlined below:</p>
<ul>
  <li>Send an email to <em>privacy at rivetrisk.com.au</em> requesting that we update the information we hold on you.</li>
  <li>We will respond within 5 (five) working days, outlining how we have addressed your update.</li>
</ul>

<h3>Links to third party sites</h3>
<p>Rivet Risk Services website(s) may contain links to websites operated by third parties. If you access a third party website through our website(s), personal information may be collected by that third party website. We make no representations or warranties in relation to the privacy practices of any third party provider or website and we are not responsible for the privacy policies or the content of any third party provider or website. Third party providers / websites are responsible for informing you about their own privacy practices and we encourage you to read their privacy policies.</p>

<h3>Inquiries and complaints</h3>
<p>For complaints about how Rivet Risk Services handles, processes or manages your personal information, please contact [insert Organisation contact]. Note we may require proof of your identity and full details of your request before we can process your complaint.</p>
<p>Please allow up to 15 (fifteen) working days for Rivet Risk Services to respond to your complaint. It will not always be possible to resolve a complaint to everyone’s satisfaction. If you are not satisfied with Rivet Risk Services’s response to a complaint, you have the right to contact the Office of Australian Information Commissioner (at <a href="http://www.oaic.gov.au/">www.oaic.gov.au/</a>) to lodge a complaint.</p>

<h3>How to contact us</h3>
<p>If you have a question or concern in relation to our handling of your personal information or this Policy, you can contact us for assistance as follows:</p>
<p><strong>Email</strong><br>
<em>privacy at rivetrisk.com.au</em></p>

</Legal>
<Footer />
</Layout>
