---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import Legal from "../components/legal.astro"
---
<Layout pageTitle="Rivet Risk Services - Website Terms of Use">
<Header />
<Legal>
  <h2>WEBSITE TERMS OF USE</h2>

  <p>WARNING: YOU MAY ONLY ACCESS, BROWSE AND USE THIS WEBSITE IF YOU ACCEPT THESE TERMS OF USE. BY ACCESSING, BROWSING AND/OR USING THIS WEBSITE, YOU CONFIRM THAT YOU HAVE READ AND UNDERSTAND AND WHOLLY AND UNCONDITIONALLY AGREE TO BE LEGALLY BOUND BY AND ACCEPT THESE TERMS OF USE. WE MAY MODIFY AND/OR REPLACE THESE TERMS OF USE FROM TIME TO TIME WITHOUT NOTICE. WE WILL UPLOAD THE LATEST VERSION TO THIS WEBPAGE. IT IS YOUR RESPONSIBILITY TO CHECK THESE TERMS OF USE EACH TIME YOU ACCESS, USE OR BROWSE THIS WEBSITE TO ENSURE YOU HAVE READ AND UNDERSTAND THE LATEST VERSION OF THESE TERMS OF USE. IF YOU DO NOT WISH TO ACCEPT THESE TERMS OF USE, YOU MUST NOT AND CANNOT USE THIS WEBSITE AND MUST IMMEDIATELY LEAVE THIS WEBSITE.</p>

  <h2>TERMS AND CONDITIONS</h2>

  <h3>1. Definitions and Interpretations</h3>
  <h4>1.1 Definitions</h4>
  <p>In these Terms of Use:</p>
  <ul>
    <li><strong>Australian Consumer Law</strong> means schedule 2 to the Competition and Consumer Act 2010 (Cth).</li>
    <li><strong>Business Day</strong> means Monday – Friday excluding public holidays in the state or territory in which Our principal place of business operates.</li>
    <li><strong>Business Hours</strong> means 9:00am – 5:00pm on Business Days.</li>
    <li><strong>GST</strong> has the meaning given by the A New Tax System (Goods and Services Tax) Act 1999 (Cth)).</li>
    <li><strong>Intellectual Property Rights</strong> means all copyright, trademark rights, patent rights, and design rights, whether registered or unregistered, and all other rights to intellectual property as defined under article 2 of the convention establishing the World Intellectual Property Organization, and all rights to enforce any of the foregoing rights.</li>
    <li><strong>Licence</strong> means as set out in clause 2.1.</li>
    <li><strong>Member</strong> means one of Our members.</li>
    <li><strong>Moral Rights</strong> has the meaning given in the Copyright Act 1968 (Cth).</li>
    <li><strong>Non-Excludable Guarantee</strong> means a non-excludable guarantee implied by the Australian Consumer Law.</li>
    <li><strong>Personal Information</strong> has the meaning given in the Privacy Act 1988 (Cth).</li>
    <li><strong>Personal Property Securities Register</strong> means the Personal Property Securities Register established under the Personal Property Securities Act 2009 (Cth).</li>
    <li><strong>Terms of Use</strong> means the terms and conditions set out on this webpage as amended by Us from time to time.</li>
    <li><strong>“We”, “Our” and “Us”</strong> means Rivet Risk Services Ltd ACN 638 783 945</li>
    <li><strong>“Website”</strong> means the website, the homepage URLs of which is https://rivetrisk.com.au and any content, images, text and other information appearing on any page of the Website and any source code and object code in the Website, plus any database which forms part of or which the Website interacts with.</li>
    <li><strong>“You”</strong> means you, the person who accesses this Website for any reason, whether or not You are a Member.</li>
  </ul>

  <h4>1.2 Interpretation</h4>
  <p>In these Terms of Use:</p>
  <ol>
    <li>Headings and underlinings are for convenience only and do not affect the construction of these Terms of Use.</li>
    <li>A provision of these Terms of Use will not be interpreted against a party because the party prepared or was responsible for the preparation of the provision, or because the party’s legal representative prepared the provision.</li>
    <li>Currency refers to Australian Dollars.</li>
    <li>A reference to a statute or regulation includes amendments thereto.</li>
    <li>A reference to a clause, subclause or paragraph is a reference to a clause, subclause or paragraph of these Terms of Use.</li>
    <li>A reference to a subclause or paragraph is a reference to the subclause or paragraph in the clause in which the reference is made.</li>
    <li>The warning at the top of these Terms of Use forms part of the binding terms and conditions of these Terms of Use.</li>
    <li>A reference to time is to time in Perth.</li>
    <li>A reference to a person includes a reference to an individual, a partnership, a company, a joint venture, government body, government department, and any other legal entity.</li>
    <li>The words “includes”, “including” and similar expressions are not words of limitation.</li>
  </ol>

  <h3>2. Licence to be granted to access and browse the Website</h3>
  <p><strong>2.1</strong> We hereby grant You a limited, non-transferable, non-exclusive, non-assignable, nonsublicensable, revocable licence to access and browse the Website (the “<strong>Licence</strong>”).</p>

  <h3>3. Registration</h3>
  <p><strong>3.1</strong> We reserve the right to accept or reject any person’s registration on the Website in Our absolute discretion.</p>
  <p><strong>3.2</strong> If You register on the Website, You:</p>
  <ol>
    <li>warrant that during the registration process You will provide truthful and accurate information only;</li>
    <li>warrant that You are registering on the Website on behalf of and with the authority and consent of the business entity, the name and details of which You enter during registration;</li>
    <li>agree to be jointly and severally liable for any breach of these Terms of Use by the business entity, the name and details of which You enter during registration.</li>
  </ol>
  <p><strong>3.3</strong> You must ensure, without limiting clause 3.2, that You provide a valid email address at the time of registration.</p>
  <p><strong>3.4</strong> We reserve the right to send an email to You with a hyperlink which requires You to verify that You are the owner or operator of the email address entered by You during registration and to cancel/not approve Your registration on this Website if Your rights to the email address are not so verified.</p>
  <p><strong>3.5</strong> If any of Your contact details or other information which You provide during the registration process changes, You must promptly update Your registration details on the Website with Your up-to-date details and information.</p>
  <p><strong>3.6</strong> You must not provide Your account name or password for Your account on this Website to any person. You agree and acknowledge that You shall be solely responsible for the confidentiality of Your username and password and any use of Your registered account (including unauthorised use) on this Website.</p>
  <p><strong>3.7</strong> You must immediately notify Us if You become aware of any unauthorised use of Your account on this Website.</p>

  <h3>4. Licence Restrictions</h3>
  <p><strong>4.1</strong> You may not make any use of the Website except as permitted by the Licence and may not do or authorise the commission of any act that would or might invalidate or be inconsistent with Our Intellectual Property Rights in the Website. Without limiting the foregoing provisions of the Licence, You must not, under any circumstances, sell or resell access to the Website or scrape, republish, mirror or otherwise rent, lend, lease, sell, redistribute, sublicence, copy or duplicate the Website or any content You obtain via the Website. In addition, You must not, nor may You permit any person to:</p>
  <ol>
    <li>copy, alter, modify, adapt, reproduce, republish, frame, translate, reverse assemble, reverse engineer, reverse compile, transfer, sell, licence, create derivative works from or enhance the Website and/or any content in the Website (except as expressly permitted by the Copyright Act 1968 (Cth));</li>
    <li>do any act that would or might invalidate or be inconsistent with Our Intellectual Property Rights or those of Our licensors;</li>
    <li>use the Website in any way that infringes Our rights or the rights of any third party; or</li>
    <li>take any steps to circumvent any technological protection measure or security measures in the Website.</li>
  </ol>
  <p><strong>4.2</strong> You must not use the Website or any part of the Website in any way which is in breach of any statute, regulation, law or legal right of any person.</p>
  <p><strong>4.3</strong> You must not use the Website or any part of the Website in breach of these Terms of Use.</p>

  <h3>5. Acceptable Use Policy</h3>
  <p><strong>5.1</strong> You agree that:</p>
  <ol>
    <li>using the Website to violate all or any legal rights of any person or company or other entity in any jurisdiction is strictly prohibited;</li>
    <li>using the Website in relation to crimes such as theft and fraud is strictly prohibited;</li>
    <li>using the Website in breach of laws relating to the protection of copyright, trade secrets, patents or other intellectual property and laws relating to spam or privacy and whether such violation is by way of the installation or distribution of "pirated” software or otherwise, is strictly prohibited;</li>
    <li>introduction of malicious programs into Our network or servers (e.g., viruses, worms, Trojan horses, e-mail bombs) is strictly prohibited;</li>
    <li>revealing Your account password to others or allowing use of Your account on the Website by others is strictly prohibited;</li>
    <li>using another person’s name, username or password or otherwise attempting to gain access to the account of any other person is strictly prohibited;</li>
    <li>using the Website to make fraudulent offers of goods or services is strictly prohibited;</li>
    <li>using the Website to carry out security breaches or disruptions of network communication is strictly prohibited. Security breaches include, but are not limited to, accessing data of which You are not an intended recipient or logging into a server or account that You are not expressly authorized to access or corrupting any data. For the purposes of this paragraph, "security breaches" includes, but is not limited to, network sniffing, pinged floods, packet spoofing, denial of service, and forged routing information for malicious purposes;</li>
    <li>using the Website to execute any form of network monitoring which will intercept data not intended for You is strictly prohibited;</li>
    <li>using the Website to circumvent user authentication or security of any of Our hosts, networks or accounts or those of Our customers or suppliers is strictly prohibited;</li>
    <li>using the Website to interfere with or deny service to anyone is strictly prohibited;</li>
    <li>using any program/script/command, or sending messages of any kind, with the intent to interfere with, or disable, any person’s use of the Website is strictly prohibited;</li>
    <li>sending unsolicited email messages through or to users of the Website in breach of the Spam Act 2003 is strictly prohibited;</li>
    <li>using the Website to send any form of harassment via email, or any other form of messaging, whether through language, frequency, or size of messages is strictly prohibited; and</li>
    <li>use of the Website in breach of any person’s privacy (such as by way of identity theft or "phishing") is strictly prohibited.</li>
  </ol>

  <h3>6. Intellectual Property Rights</h3>
  <p><strong>6.1</strong> You agree and acknowledge that these Terms of Use do not transfer or assign any Intellectual Property Rights to You.</p>
  <p><strong>6.2</strong> As between You and Us, We own all Intellectual Property Rights in the Website.</p>
  <p><strong>6.3</strong> You have no rights in the Website or in any part of it or in any modification or enhancement thereof, other than the rights temporarily granted to You pursuant to the Licence.</p>
  <p><strong>6.4</strong> You agree that any Intellectual Property Rights in any content which You upload or post to the Website (“User Content”) becomes Our sole and exclusive property immediately upon You uploading or posting that content, and You hereby agree to assign all Intellectual Property Rights in all and any such content to Us effective as soon as You upload or post the content to the Website, pursuant to section 197 of the Copyright Act 1968 (Cth) and in equity. You waive all Moral Rights that You may have to any User Content and consent to Us and any third party We authorise to infringing all and any such Moral Rights in Our absolute discretion.</p>
  <p><strong>6.5</strong> You must not take any step to invalidate or prejudice Our (or Our licensors’) Intellectual Property Rights in the Website or otherwise. Without limiting the foregoing provisions, You must not register any security interest or purchase money security interest on the Personal Property Securities Register, or otherwise encumber or charge Your rights under the Licence.</p>

  <h3>7. Responsibility for other users</h3>
  <p><strong>7.1</strong> We do not accept responsibility for the conduct of any users of Our Website.</p>
  <p><strong>7.2</strong> If You believe that another user of Our Website has breached these Terms of Use please contact Us.</p>
  <p><strong>7.3</strong> We are not a party to any transaction for the supply of goods or services advertised by any user of the Website. Before entering into any transaction with any other user of the Website, You should carefully consider the applicable terms and conditions applicable to the transaction, obtain all appropriate advice and take all appropriate precautions.</p>
  <p><strong>7.4</strong> Any dispute You have with another user of Our Website is between You and the other user. You release Us from any claims that You may otherwise have against Us in relation to any conduct of any user of Our Website and in respect of any content uploaded by or on behalf of any user.</p>
  <p><strong>7.5</strong> We check content entered into or uploaded into the Website from time to time, but We do not review or moderate all content. If We become aware of content that breaches our Acceptable Use Policy (see clause 5) We will remove the content and send an email to the person who uploaded or entered it explaining why it was removed. If You become aware of any content that You think breaches the Acceptable Use Policy set out in clause 5 above, please contact Us.</p>

  <h3>8. Responsibility for third party claims</h3>
  <p><strong>8.1</strong> You agree and acknowledge that You are solely responsible for and You indemnify Us in respect of any loss and damage We may incur in connection with any claims and/or complaints made by any of person where the claim is caused directly or indirectly by:</p>
  <ol>
    <li>Your use of the Website; and/or</li>
    <li>Your goods and/or services and/or your advertising and/or sales and/or marketing practices.</li>
  </ol>

  <h3>9. Hyperlinks</h3>
  <p><strong>9.1</strong> We do not represent, recommend or endorse any websites to which We have linked from the Website via hyperlink or otherwise.</p>

  <h3>10. Liability</h3>
  <p><strong>10.1</strong> Except in respect of any Non-Excludable Guarantees, We do not represent that the information on this Website is accurate, correct, up-to-date or error free.</p>
  <p><strong>10.2</strong> The information on this Website is not professional advice. You agree that You will seek all appropriate financial, legal and other advice as applicable before relying on any information You obtain from this Website.</p>
  <p><strong>10.3</strong> Except in respect of any Non-Excludable Guarantees, neither party is liable to the other party for any indirect, special or consequential loss or damage incurred by the other party, including liability for loss of profits, loss of business opportunity, loss of savings, or loss of data.</p>
  <p><strong>10.4</strong> Except in respect of any Non-Excludable Guarantees, to the maximum extent permitted by law (and if permitted by law), We will not have any liability to You for any loss or damage howsoever incurred in relation to Your use of or inability to use the Website, or with respect to any of the circumstances addressed in clause 8.1.</p>
  <p><strong>10.5</strong> The supply of the content on this Website to You may come with implied non-excludable guarantees which are regulated by the Australian Consumer Law. The extent of the implied guarantees depends on whether You are a ‘consumer’ of goods or services within the meaning of that term pursuant to the Australian Consumer Law as amended. Where You are a ‘consumer’ for the purposes of the Australian Consumer Law, We are required to provide the following mandatory statement to You: “Our goods come with guarantees that cannot be excluded under the Australian Consumer Law. You are entitled to a replacement or refund for a major failure and for compensation for any other reasonably foreseeable loss or damage. You are also entitled to have the goods repaired or replaced if the goods fail to be of acceptable quality and the failure does not amount to a major failure.”</p>
  <p><strong>10.6</strong> If the supply of the content on this Website by Us to You is supplied to You in Your capacity as a 'consumer' of goods or services within the meaning of that term in the Australian Consumer Law as amended You will have the benefit of certain non-excludable guarantees in respect of the goods or services and nothing in these terms and conditions excludes or restricts or modifies any guarantee which pursuant to the Competition and Consumer Act 2010 (Cth) is so conferred. However, if the supply of the content is subject to a non-excludable guarantee, implied by the Australian Consumer Law and is not ordinarily for personal, domestic or household use or consumption, then pursuant to s 64A of the Australian Consumer Law, We limit Our liability for breach of any such non-excludable guarantee implied by the Australian Consumer Law (other than a guarantee implied by sections 51, 52 or 53 of the Australian Consumer Law) or expressly given by Us to You, where it is fair and reasonable to do so, at Our option, to one or more of the following:</p>
  <p>(a) if the breach relates to goods:</p>
  <ol>
    <li>the replacement of the goods or the supply of equivalent goods;</li>
    <li>the repair of such goods;</li>
    <li>the payment of the cost of replacing the goods or of acquiring equivalent goods; or</li>
    <li>the payment of the cost of having the goods repaired; and</li>
  </ol>
  <p>(b) if the breach relates to services:</p>
  <ol>
    <li>the supplying of the services again; or</li>
    <li>the payment of the cost of having the services supplied again.</li>
  </ol>
  <p><strong>10.7</strong> In order for You to claim against Us under a non-excludable guarantee implied by the Australian Consumer Law, You must provide written notice to Us with documentary evidence substantiating the claim, for Our review, and, in respect of the Website, must continue to use it only in accordance with the provisions of these Terms of Use.</p>
  <p><strong>10.8</strong> Any warranty against defects provided by Us to You in Your capacity as a ‘consumer’ under the Australian Consumer Law is in addition to Your other rights and remedies under a law in relation to the goods or services to which the warranty relates.</p>
  <p><strong>10.9</strong> Where You are not a ‘consumer’ for the purposes of the Australian Consumer Law, all conditions, warranties and guarantees implied in these Terms of Use are excluded, to the extent possible by law.</p>

  <h3>11. Termination</h3>
  <p><strong>11.1</strong> If you are not a Member, We may terminate these Terms of Use and Your access to the Website or any part of it at any time without notice.</p>
  <p><strong>11.2</strong> If You are a Member, We may terminate these Terms of Use and Your access to the Website by notice to You if:</p>
  <p>(a) You breach any material term of these Terms of Use; or (b) where reasonably necessary to protect Our legitimate interests.</p>
  <p><strong>11.3</strong> We may take down the Website or any part of it or take the Website or any part of it offline at any time without notice where reasonably necessary to protect Our legitimate interests.</p>
  <p><strong>11.4</strong> Termination of these Terms of Use and access to the Website does not affect any accrued rights of either party.</p>

  <h3>12. General</h3>
  <p><strong>12.1</strong> Other rights: All rights not expressly granted to Us in these Terms of Use are expressly reserved by Us.</p>
  <p><strong>12.2</strong> Amendment: These Terms of Use may be amended by Us at any time.</p>
  <p><strong>12.3</strong> Assignment: You may not assign, transfer, licence or novate Your rights or obligations under these Terms of Use without Our prior written consent. We may assign, transfer, licence or novate Our rights or obligations under these Terms of Use at any time.</p>
  <p><strong>12.4</strong> Severability: If any part of these Terms of Use is deemed invalid by a court of competent jurisdiction, the remainder of these Terms of Use shall remain enforceable.</p>
  <p><strong>12.5</strong> Relationship: You and Us are independent contractors and these Terms of Use do not create any relationship of partnership, joint venture, or employer and employee or otherwise.</p>
  <p><strong>12.6</strong> Australian Consumer Law: The exclusions and limitations of liability set out in these Terms of Use shall apply to the fullest extent permissible at law, but We do not exclude or limit liability which may not be excluded or limited by law. Without limiting the foregoing provisions, We do not exclude liability under the Australian Consumer Law which is prohibited from being excluded.</p>
  <p><strong>12.7</strong> Entire Agreement: These Terms of Use constitute the entire agreement between You and Us and to the extent possible by law, supersede all prior understandings, representations, arrangements and agreements between You and Us regarding its subject matter.</p>
  <p><strong>12.8</strong> Jurisdiction: These Terms of Use will be interpreted in accordance with the laws in force in Queensland. You and Us irrevocably submit to the exclusive jurisdiction of the courts of Queensland.</p>
</Legal>

<Footer />
</Layout>