---
// Import the Astro Image component

import LogoLight from '../assets/rivet_logo_landscape_light.svg';
import LogoDark from '../assets/rivet_logo_landscape_dark.svg'; 

const { height } = Astro.props;
const cssHeight = height ? `${height}px` : `clamp(36px, 4vw, 100px)`;
---

<div class="logo-wrapper" style={`--logo-height: ${cssHeight}`}>
  <LogoDark height={height} class="logo-svg logo-dark" />
  <LogoLight height={height} class="logo-svg logo-light " /> 
</div>

  <style>

/* Keep wrapper auto-width so the logo scales proportionally with the defined height */
  .logo-wrapper {
   width: auto; 
   display: inline-flex;
   align-items: center;
  }

  .logo-svg {
    width: auto;
    height: var(--logo-height);
    display: block;

  }

  /* Hide the dark logo by default */
  .logo-dark {
    display: none;
  }

  /* Automatically swap logos based on the user's system/browser theme */
  @media (prefers-color-scheme: dark) {
    .logo-light {
      display: none;
    }
    .logo-dark {
      display: block;
    }
  }
  @media (prefers-color-scheme: light) {
    .logo-light {
      display: block;
    }
    .logo-dark {
      display: none;
    }
  }
</style>
