---
import "../styles/global.css";
---

<div id="main-menu" class="nav-links">
  <a href="/">Home</a>
  <a href="/services/">Services</a>
  <a href="/posts">Posts</a>
   <a href="/about/">About</a>
  <a href="/contact/">Contact Us</a>
</div>

<style>


.nav-links a {
  display: block;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
 }

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--color-burnt-orange);
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .menu {
    display: none;
  }
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .menu {
  background-color: #fff;
  color: #000;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #0d0950;
}

.dark .nav-links a {
  color: #fff;
}

.dark a {
  color: var(--color-burnt-orange);
}